{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
	{% for trick in tricks %}
<a href="{{ path('trick_show', {'id': trick.id}) }}">{{ trick.name }}</a><br>

	{% endfor %}
{% endblock %}
